@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   body {
      @apply bg-gray-200;
   }
   h1 {
      @apply font-sans text-lg font-bold tracking-wide text-main-2;
   }
   h2 {
      @apply font-sans font-bold tracking-wide text-main-2;
   }
   td {
      @apply px-4 py-2 text-center;
   }
   input[type='number']::-webkit-outer-spin-button,
   input[type='number']::-webkit-inner-spin-button,
   input[type='number'] {
      -webkit-appearance: none;
      margin: 0;
      -moz-appearance: textfield !important;
   }
}

.smallButton {
   @apply rounded-full px-4 py-3 font-bold hover:bg-gray-400;
}

.smallIconButton {
   @apply rounded-full bg-transparent p-2 shadow-lg hover:bg-gray-400;
}

.disabledSmallIconButton {
   @apply rounded-full bg-transparent p-2 shadow-lg;
}
