@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   body {
      @apply bg-main-4;
   }
   h1 {
      @apply font-sans text-lg font-bold tracking-wide text-main-1;
   }
   h2 {
      @apply font-sans font-bold tracking-wide text-main-1;
   }
   td {
      @apply px-4 py-2 text-center;
   }
   input[type='number']::-webkit-outer-spin-button,
   input[type='number']::-webkit-inner-spin-button,
   input[type='number'] {
      -webkit-appearance: none;
      margin: 0;
      -moz-appearance: textfield !important;
   }
}

@layer utilities {
   /* Chrome, Safari and Opera */
   .no-scrollbar::-webkit-scrollbar {
      display: none;
   }

   .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
   }
}

.smallButton {
   @apply rounded-full px-4 py-3 font-bold hover:bg-main-1;
}

.smallIconButton {
   @apply rounded-full bg-main-3 p-2 shadow-lg hover:bg-main-1;
}

.disabledSmallIconButton {
   @apply rounded-full bg-transparent p-2 shadow-lg;
}
